input[type="tel"]::-webkit-input-placeholder {
    color: #45C6D6;
}
input[type="tel"]:-moz-placeholder {
    color: #45C6D6;
}
input{
    -webkit-appearance: none;
    outline: none;
}
a, button, input[type="submit"], input[type="file"], input[type="tel"], textarea, input, button:active, button:checked, button:focus, a:active, a:checked, a:focus{
    cursor: pointer;
    outline: none !important;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -moz-tap-highlight-color: rgba(0,0,0,0);
}
small {
    display: block;
}
button{
    border: 0;
}

button:focus{
    outline: 0 !important;
    -moz-outline: 0 !important;
    -webkit-outline: 0 !important;
    border: 0 !important;
}

.link{
    text-align: center;
    text-decoration: none;
}

.back{
    padding-left: 30px;
    margin-left: -25px;
    background: url('../images/background/icon-back.svg') left center no-repeat;
    background-size: 22px;

    @extend .color-lightBlue ;
}

/*
====================================================================================================================================================
====================================================================================================================================================

                                                      INTRO PREMED
                                                    (Used on PreMed)

====================================================================================================================================================
====================================================================================================================================================
*/

.premed.sliderIntro{
    @extend .background-lightBlue ;
}

.slider{
    width: 60%;

    @media screen and (max-width: 1445px){
        width: 70%;
    }

    @media screen and (max-width: 1367px){
        width: 80%;
    }

    @media screen and (max-width: 1024px){
        width: 100%;
    }

    .bemtevi{
        @media screen and (max-width: 1024px){
            width: 80px !important;
        }
    }
    .description{
        min-height: 200px;
        box-sizing: border-box;
        padding: 0 10%;

        p{
            margin: 20px 0;
        }

        @media screen and (max-width: 1024px){
            padding: 0 10%;
        }

        @media screen and (max-width: 921px){
            p{
                margin: 0 0 0;
            }
        }

        @media screen and (max-width: 650px){
            margin: 10px 0;
            min-height: auto;
            padding: 0;

            p{
                font-size: 11px;
                margin: 0 !important;
            }
        }
    }
}

.slider .intro.premed{
    max-width: 100%;
    min-height: 300px;
    outline: none;
    @extend .flex-column-center-center-center ;

    .figureSlide{
        height: 45%;
        margin-left: 0%;
        transform: translateX(0%);

        @media screen and (max-width: 650px){
            height: 250px;
            max-width: 80%;
        }
    }
}

.slick-dots{
    width: 220px;
    list-style: none;
    transform: translateX(-50%);
    margin: 20px 0;
    margin-left: 50%;
    @extend .flex-row-around-center-center ;

    li button{
        background-color: rgba(0,0,0,0.2);
    }
    li.slick-active button{
        background-color: white;
    }
}

.controlSlider{
    .slick-next{
        width: 235px;
        height: 50px;
        line-height: 50px;
        cursor: pointer;
        border: 0;
        border-radius: 10px;
        outline: none;
        position: relative;
        text-align: center;
        text-decoration: none;
        margin-bottom: 40px;
        @extend .font-medium-12px ;
        @extend .color-black ;
        @extend .background-white ;
        @extend .shadow-black ;
    }
}

/*
====================================================================================================================================================
====================================================================================================================================================

                                                        BEM-TE-VI
                                                    (Used on PreMed)

====================================================================================================================================================
====================================================================================================================================================
*/

.bemtevi{
    width: 85px;
    min-height: 70px;

    &.premed{
        width: 300px;
        position: fixed;
        right: 5%;
        top: 20px;
        z-index: 100;
        @extend .flex-column-center-center-center ;
        visibility: hidden;

        @media screen and (max-width: 870px){
            width: auto;
            bottom: -10px;
            right: 10px;
            top: auto;
            flex-flow: column-reverse;
            align-items: flex-end;
        }

        .helper{
            width: 110px;
            min-height: 100px;
            position: relative;
            cursor: pointer;
            z-index: 110;

            img{
                width: 100%;
                z-index: 10;
            }
            .alert{
                float: left;
                width: 20px;
                height: 20px;
                z-index: 110;
                position: absolute;
                right: 25px;
                bottom: 20px;

                .alert-pulse{
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    text-align: center;
                    position: relative;

                    p{
                        width: 20px;
                        height: 20px;
                        background-color: red;
                        @extend .font-medium-10px ;
                        @extend .color-white ;
                        line-height: 20px;
                        border-radius: 50%;
                        z-index: 110;
                        position: relative;
                    }

                    &:before,
                    &:after{
                        content: '';
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                        background-color: red;
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                        margin: auto;
                        transform: scale(0.5);
                        transform-origin: center center;
                        animation: pulse-me 3s linear infinite;
                        z-index: 100;
                    }
                    &:after{
                        animation-delay: 5s;
                    }
                    }

                    @keyframes pulse-me{
                    0%{
                        transform: scale(0.5);
                        opacity: 0;
                    }
                    50%{
                        opacity: 0.1;
                    }
                    70%{
                        opacity: 0.09;
                    }
                    100%{
                        transform: scale(5);
                        opacity: 0;
                    }
                }
            }
        }

        .modal{
            width: auto;
            height: 0;
            border-radius: 10px;
            overflow: hidden;
            position: absolute;
            top: 35px;
            @extend .background-white ;
            @extend .shadow-black ;
            @extend .flex-column-center-center-center ;
            @extend .transition-cubic ;
            z-index: 100;
            overflow: hidden;

            @media screen and (max-width: 870px){
                top: auto;
                bottom: 55px;
            }

            .closeButton{
                width: 45px;
                height: 45px;
                border: 0;
                outline: none;
                position: absolute;
                right: 0;
                top: 0;
                background: url('../images/icons/close-button-bemtevi.svg') center no-repeat;
                background-size: 15px;
                @extend .transition-cubic ;

                &:hover{
                    transform: scale(1.1);
                }
            }
            p{
                opacity: 0;
                transition-duration: 0.1s;
                margin: 15px 0;

                @media screen and (max-width: 870px){
                    margin: 15px 0;
                }
            }
        }

        // ANIMATIONS

        .modal.open{
            width: 300px;
            height: auto;
            overflow: auto;
            padding: 60px 0 30px;

            @media screen and (max-width: 870px){
                padding: 30px 0;
                right: 0;
            }

            p{
                opacity: 1;
                transition-duration: 0.1s;
            }
        }

        &.expandUp{
        	animation-name: expandUp;
        	-webkit-animation-name: expandUp;

        	animation-duration: 0.55s;
        	-webkit-animation-duration: 0.55s;

        	animation-timing-function: ease;
        	-webkit-animation-timing-function: ease;

        	visibility: visible !important;
        }

        @keyframes expandUp {
        	0% {
        		transform: translateY(80vh) scale(0.6) scaleY(0.5);
        	}
        	60%{
        		transform: translateY(-7%) scaleY(1.12);
        	}
        	75%{
        		transform: translateY(3%);
        	}
        	100% {
        		transform: translateY(0%) scale(1) scaleY(1);
        	}
        }

        @-webkit-keyframes expandUp {
        	0% {
        		-webkit-transform: translateY(80vh) scale(0.6) scaleY(0.5);
        	}
        	60%{
        		-webkit-transform: translateY(-7%) scaleY(1.12);
        	}
        	75%{
        		-webkit-transform: translateY(3%);
        	}
        	100% {
        		-webkit-transform: translateY(0%) scale(1) scaleY(1);
        	}
        }
    }
}

/*
====================================================================================================================================================
====================================================================================================================================================

                                                    CHOOSE GENRE

====================================================================================================================================================
====================================================================================================================================================
*/
.choose-genre{
    width: 180px;

    @media screen and (max-width: 1024px){
        margin-top: 0;
        margin-bottom: 0;
    }

    @media screen and (max-width: 769px){
        margin-top: 0vh;
    }

    .container{
        width: 180px;
        height: 52px;
        border-radius: 50px;
        overflow: hidden;
        position: relative;

        .male, .female{
            width: 40px;
            position: relative;

            img{
                width: 82%;
                display: block;
                margin: auto;
                margin-top: 13px;
                transition-duration: 0.15s;
                opacity: 0.7;
            }
            img.active{
                width: 100%;
                margin-top: 5px;
                opacity: 1;
            }
        }
        .male img:hover, .female img:hover{
            width: 100%;
            margin-top: 5px;
            opacity: 1;
        }
        .divide{
            width: 2px;
            height: 30px;
            left: 50%;
            top: 50%;
            position: absolute;
        }
    }
}

/*
====================================================================================================================================================
====================================================================================================================================================

                                                    CHOOSE ETHNICITY

====================================================================================================================================================
====================================================================================================================================================
*/

.choose-ethnicity{
    min-height: 370px;
    max-width: 840px;

    @media screen and (max-width: 1024px){
        min-height: auto;
        margin-bottom: 20px;
        width: 90%;
    }

    .container{
        width: 100%;
        min-height: 310px;
        flex-wrap: wrap;

        @media screen and (max-width: 1024px){
            min-height: 310px;
        }

        @media screen and (max-width: 870px){
            min-height: 560px;
        }

        @media screen and (max-width: 650px){
            min-height: 330px;
        }

        .card{
            width: 200px;
            height: 310px;
            border-radius: 15px;
            overflow: hidden;
            position: relative;
            cursor: pointer;
            @extend .transition-cubic ;

            @media screen and (max-width: 1441px){
                height: 270px;
            }

            @media screen and (max-width: 870px){
                width: 48%;
                height: 270px;
                margin: 5px 0;
            }

            @media screen and (max-width: 650px){
                height: 145px;
            }

            img{
                width: 120px;

                @media screen and (max-width: 650px){
                    width: 60px;
                    margin-top: 5px;
                }
            }

            .description{
                width: 100%;
                height: 65px;
                position: absolute;
                bottom: 0;

                @media screen and (max-width: 1024px){
                    height: 60px;
                }

                p{
                    @media screen and (max-width: 1024px){
                        font-size: 15px;
                    }
                }

                small{
                    display: block;

                    @media screen and (max-width: 1024px){
                        font-size: 9px;
                    }

                    @media screen and (max-width: 650px){
                        font-size: 12px;
                    }
                }
            }
        }
    }

    .container.female{
        display: none;
    }
}

/*
====================================================================================================================================================
====================================================================================================================================================

                                                    STEPS FORMS

====================================================================================================================================================
====================================================================================================================================================
*/

.contentSteps{
    width: 220px;

    @media screen and (max-width: 1024px){
        box-sizing: border-box;
        padding: 0 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        margin: 0;

        h1, p{
            text-align: center;
        }

        h1{
            font-size: 20px;
        }

        p{
            margin-bottom: 40px;
        }
    }

    @media screen and (max-width: 650px){
        padding-bottom: 40px;
    }
}

.steps, .slick-dots{
    width: 220px;
    box-sizing: border-box;
    margin: 20px 0 40px;

    @media screen and (max-width: 650px){
        margin-top: 15px;
    }

    .bar, li button{
        width: 100%;
        height: 3px;
        border-radius: 50px;
        margin: 0 5px;
        @extend .background-grey ;
        transition-duration: 0.25s;
    }
    .bar.active, li.slick-active button{
        @extend .background-lightBlue ;
    }

    li{
        width: 100%;
        margin: 0 5px;
    }

    li button{
        color: transparent;
        margin: 0;
    }

    p{
        @media screen and (max-width: 415px){
            margin-bottom: 10px;
        }
    }
}

.goButton{
    width: 220px;
    height: 45px;
    border-radius: 50px;
    transition-duration: 0.25s;
}

.goButton:hover{
    @extend .shadow-lightGreen ;
    @extend .background-lightGreen ;
}

/*
====================================================================================================================================================
====================================================================================================================================================

                                                    SELECT
                                            (Used on PreMed Calendar)

====================================================================================================================================================
====================================================================================================================================================
*/

.calendar{
    width: 380px;
    min-height: 250px;
    max-width: 100%;
    background: url('../images/background/calendar-premed.svg') center top no-repeat;
    background-size: 90%;
    padding: 25px 20px 0;
    flex-wrap: wrap;

    @media screen and (max-width: 415px){
        padding: 5% 5% 0;
        max-width: 100%;
        box-sizing: border-box;
        min-height: 235px;
    }

    @media screen and (max-width: 321px){
        padding: 0 5% 0;
        max-width: 100%;
        box-sizing: border-box;
        min-height: 220px;
    }

    .divider{
        width: 50%;
        height: 1px;
        margin: 10px 5%;
        @extend .background-grey ;

        @media screen and (max-width: 415px){
            margin: 0 5%;
        }
    }
}

.md-select {
    width: 45%;

    @media screen and (max-width: 415px){
        margin: 2.5% 0;
    }

  [type=button] {
    background: rgba(255,255,255,0);
    border: 0;
    cursor: pointer;
    display: block;
    height: 45px;
    line-height: 45px;
    padding: 0;
    position: relative;
    text-align: center;
    text-shadow: none;
    width: 100%;
    z-index: 1;
    outline: none;
    overflow: hidden;
    @extend .transition-cubic ;
    @extend .font-medium-15px ;
    @extend .color-grey ;

    &:focus, &:hover {
      @extend .color-black ;
    }
    &.selected {
      @extend .color-lightBlue ;
    }

    @media screen and (max-width: 321px){
        font-size: 12px;
    }
  }
  ul[role=listbox] {
    background-color: white;
    cursor: default;
    list-style: none;
    line-height: 26px;
    overflow: hidden;
    margin: 0;
    max-height: 0;
    position: absolute;
    padding: 0;
    border-radius: 10px;
    transform: translateY(-60%) translateX(-10%);
    @extend .transition-cubic ;
    width: 170px;
    height: 110px;
    @extend .font-medium-12px ;
    @extend .color-black ;
    @extend .shadow-black ;

    &::-webkit-scrollbar-track{
    	border-radius: 50px;
    	background-color: transparent;
    }

    &::-webkit-scrollbar{
    	width: 15px;
        border: 5px solid white;
        border-radius: 50px;
    	background-color: #D8D8D8;
        transform: scale(0.8);
    }

    &::-webkit-scrollbar-thumb{
    	border-radius: 50px;
        width: 5px;
        border-right: 5px solid white;
        border-left: 5px solid white;
        border-top: 5px solid rgba(255,255,255,0);
        border-bottom: 5px solid rgba(255,255,255,0);
        background-clip: content-box;
    	@extend .background-black ;
    }

    li {
      height: 20px;
      line-height: 20px;
      margin: 0;
      padding: 10px 16px;
      outline: none;
      overflow: hidden;
      text-align: center;
      cursor: pointer;
      @extend .transition-cubic ;

      &:focus, &:hover, &.active {
        @extend .color-lightBlue ;
      }
    }
  }

  &.active ul {
    max-height: 200px;
    overflow: auto;
    padding: 8px 0 16px 0px;
    z-index: 2;
    transition: all .2s ease
  }
}

/*
====================================================================================================================================================
====================================================================================================================================================

                                                CHANGE CHARACTER
                                            (Used on PreMed Calendar)

====================================================================================================================================================
====================================================================================================================================================
*/

.info-user{
    @extend .flex-row-center-center-center ;

    @media screen and (max-width: 1441px){
        flex-direction: row;
    }
}

.person{
    width: 40%;
    min-height: 400px;
    position: relative;

    @media screen and (max-width: 1024px){
        width: 10%;
    }

    @media screen and (max-width: 870px){
        width: 20%;
        min-height: 320px;
    }

    .character{
        max-height: 100%;
        min-height: 30%;
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        @extend .transition-cubic ;
    }
}

.weightPerson{
    padding-bottom: 20px;

    @media screen and (max-width: 880px){
        padding-bottom: 20px;
        min-height: 340px;
        width: 30%;
    }

    .person{
        width: 15%;

        @media screen and (max-width: 880px){
            width: 20%;
        }

        @media screen and (max-width: 650px){
            width: 40%;
            left: 0;
        }
    }
    .properties{
        width: 15%;

        @media screen and (max-width: 1025px){
            width: 25%;
        }

        @media screen and (max-width: 880px){
            width: 30%;
        }
    }
}

.properties{
    width: 50%;
    height: 100%;
    flex-wrap: wrap;

    .ruler{
        width: 70%;
        min-height: 390px;

        .heightPerson{
            min-width: 55px !important;
            position: absolute;
            margin-top: 0;

            @media screen and (max-width: 870px){
                right: -5%;
                left: auto;
            }

            .meters{
                font-size: 15px;
            }
        }

        // HEIGHT RULER COMPONENT
        #height{
            -webkit-appearance: none;
            -moz-appearance: none;
            outline: none;
            background: url('../images/background/ruler-height-premed.svg') center no-repeat;
            background-size: 80%;
            max-width: 365px;
            max-height: 30px;
            -webkit-transform:rotate(-90deg) scale(3.5);
            -moz-transform:rotate(-90deg) scale(3.5);
            transform: rotate(-90deg) scale(3.5);
            z-index: 50;

            @media screen and (max-width: 650px){
                margin-left: 20%;
                left: 0;
            }

            &::-webkit-slider-thumb {
                -webkit-appearance: none;
                border: none;
                width: 30px;
                height: 65px;
                background: url('../images/background/line-ruler-premed.svg') center no-repeat;
                background-size: 2px;
                cursor:row-resize;
            }
            &::-moz-range-thumb {
                -webkit-appearance: none;
                border: none;
                width: 40px;
                height: 65px;
                background: url('../images/background/line-ruler-premed.svg') center no-repeat;
                background-size: 2px;
                cursor:row-resize;
            }
            &::-moz-range-track{
                -moz-appearance: none;
                background: none;
            }
            &::-moz-focusring, &:focus{
                outline: none !important;
            }
        }
    }
}

// WEIGHT & HEIGHT COMPONENT
.weight, .height {
    width: 100%;
    box-sizing: border-box;
    position: relative;
    margin-left: 10%;

    @media screen and (max-width: 1024px){
        width: 33%;
        margin-left: 0;
    }

    @media screen and (max-width: 870px){
        width: 30%;
        margin-left: 0;
    }

    .quantity {
        width: 205px;
        position: relative;
        flex-wrap: wrap;
        @extend .transition-cubic ;

        @media screen and (max-width: 1024px){
            width: 60%;
        }

        @media screen and (max-width: 870px){
            width: 100%;
        }
    }

    .quantity.weight{
        @media screen and (max-width: 650px){
            min-height: 50px;
        }
    }

    input[type=tel]::-webkit-inner-spin-button,
    input[type=tel]::-webkit-outer-spin-button
    {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type=tel]
    {
        margin: 10px 0 0 0;
        text-align: right ;
        -moz-appearance: textfield;
        @extend .transition-cubic ;
    }

    p{
        text-align: center;
    }

    .kg{
        margin-bottom: -10px;
        margin-right: 15%;

        @media screen and (max-width: 880px){
            right: -15%;
        }

        @media screen and (max-width: 650px){
            margin-bottom: 0;
            margin-top: 15px;
            right: 2%;
            margin-right: 0;
            position: absolute;
        }
    }

    .meters{
        position: absolute;
        right: -40%;

        @media screen and (max-width: 880px){
            right: -15%;
        }

        @media screen and (max-width: 650px){
            margin-bottom: 0;
            margin-top: 5px;
            right: 3%;
        }
    }

    .quantity input {
        width: 120px;
        border: 0;
        text-align: right;
        background: transparent;
        margin: 10px 0 0 0;
        @extend .font-medium-50px ;
        @extend .color-black ;
        @extend .transition-cubic ;

        @media screen and (max-width: 650px){
            font-size: 35px;
            position: absolute;
            left: auto;
            right: 10%;
        }
    }

    .quantity input:focus {
        outline: 0;
    }

    .quantity-nav {
        float: left;
        position: absolute;
        height: 20%;
        width: 295px;
        z-index: 40;
        @extend .transition-cubic ;

        @media screen and (max-width: 870px){
            width: 45px;
            right: 0;
            left: auto;
        }

        .quantity-button {
            position: relative;
            cursor: pointer;
            border: 0;
            text-align: center;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            -o-user-select: none;
            user-select: none;
        }
        .quantity-up {
            position: absolute;
            width: 80px;
            height: 80px;
            background: url('../images/background/plus-button.svg') center no-repeat;
            background-size: 100%;
            top: -70px;
            left: 50%;
            @extend .translate-horizontal ;
        }

        .quantity-down {
            position: absolute;
            width: 80px;
            height: 80px;
            background: url('../images/background/less-button.svg') center no-repeat;
            background-size: 100%;
            top: 70px;
            left: 50%;
            @extend .translate-horizontal ;
        }
    }
}

.height{
    @media screen and (max-width: 650px){
        &.properties{
            width: 60%;
        }
        .quantity{
            .heightPerson{
                right: 5%;
            }
            .meters{
                right: -5%;
            }
            #height{
                margin-left: 0;
                left: 0;
            }
            .quantity-nav{
                right: 5%;
            }
        }
    }
}

.weight{
    @media screen and (max-width: 1025px){
        width: 100%;

        .quantity{
            width: 100%;
        }
    }

    @media screen and (max-width: 870px){
        width: 100%;

        .quantity-nav{
            right: auto;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    @media screen and (max-width: 650px){
        right: 15%;

        .quantity{
            input{
                right: 25%;
            }
        }
    }
}

.errorMin, .errorMax{
    display: none;
    clear: both;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 300px;
    height: 50px;
    line-height: 50px;
    box-sizing: border-box;
    padding: 0 30px;
    border-radius: 50px;
    @extend .font-medium-12px ;
    @extend .shadow-red ;
    @extend .background-red ;
    @extend .color-white ;
}

/*
====================================================================================================================================================
====================================================================================================================================================

                                                PANTS COMPONENT
                                            (Used on PreMed Circumference)

====================================================================================================================================================
====================================================================================================================================================
*/

.optionForm{
    width: 100%;
    max-width: 860px;
    box-sizing: border-box;

    @media screen and (max-width: 880px){
        flex-direction: column-reverse;
        margin-bottom: 30px;
        width: 90%;
    }

    .options{
        transition-duration: 0.75s;
    }

    .quest{
        display: none;

        p{
            @media screen and (max-width: 870px){
                text-align: center;
            }
        }

        &.selectOptions {
            width: 80%;

            @media screen and (max-width: 880px) {
                width: 100%;
            }

            .contentButtons {
                width: 100%;

                @media screen and (max-width: 880px){
                    flex-flow: column;
                    justify-content: center;
                }

                button{
                    width: 45%;
                    height: 70px;
                    text-align: left;
                    position: relative;
                    box-sizing: border-box;
                    @extend .flex-row-between-center-center ;

                    @media screen and (max-width: 615px) {
                        width: 80%;
                    }

                    img, svg{
                        width: 100%;
                        height: 100%;
                        max-width: 40px;
                        max-height: 40px;
                        margin: 0 15px;
                        @extend .transition-cubic ;
                        @extend .fill-black ;
                    }
                    &:hover img, &:hover svg{
                        @extend .fill-white ;
                    }
                    &.active img, &.active svg {
                        @extend .fill-white ;
                    }
                    .content{
                        width: calc(100% - 75px);
                    }
                }
            }
        }
    }

    .quest:first-child{
        display: block;
    }

    .illustrations{
        width: 40%;
        min-height: 380px;
        margin: 0 5%;
        position: relative;
        box-sizing: border-box;

        @media screen and (max-width: 880px){
            min-height: 250px;
            margin-bottom: 20px;
            overflow: hidden;
        }

        &.cigarret-pack{
            @media screen and (max-width: 870px){
                width: 145px;
            }

            img{
                left: 0;
                bottom: 0;
            }

            .cigar-pack-back{
                width: 100%;
            }
            .cigarrets{
                width: 70%;
                position: absolute;
                left: 50%;
                top: 7%;

                &.front{
                    top: 9%;
                }

                img{
                    width: 25%;
                    margin: 0 -3%;
                    position: relative;
                }
                .cigarret{
                    visibility: hidden;
                }
                .hideCigarret{
                	animation-name: hideCigarret;
                	-webkit-animation-name: hideCigarret;
                	animation-duration: 1s;
                	-webkit-animation-duration: 1s;
                    animation-fill-mode: forwards;
                    -webkit-animation-fill-mode: forwards;
                	animation-timing-function: ease;
                	-webkit-animation-timing-function: ease;
                    visibility: visible !important;
                }
                .showCigarret{
                	animation-name: showCigarret;
                	-webkit-animation-name: showCigarret;
                	animation-duration: 1s;
                	-webkit-animation-duration: 1s;
                    animation-fill-mode: forwards;
                    -webkit-animation-fill-mode: forwards;
                	animation-timing-function: ease;
                	-webkit-animation-timing-function: ease;
                	visibility: visible !important;
                }

                @keyframes showCigarret {
                    0%{
                        visibility: hidden;
                    }
                    1% {
                        opacity: 0;
                        transform: translateY(50%);
                	}
                	50%{
                		transform: translateY(-8%);
                	}
                	65%{
                        opacity: 1;
                        transform: translateY(4%);
                	}
                	80%{
                		transform: translateY(-4%);
                	}
                	95%{
                		transform: translateY(2%);
                	}
                	100% {
                		transform: translateY(0%);
                	}
                }

                @keyframes hideCigarret {
                	100% {
                        opacity: 0;
                        transform: translateY(50%);
                	}
                	95%{
                		transform: translateY(2%);
                	}
                	80%{
                        transform: translateY(-4%);
                	}
                	65%{
                		transform: translateY(4%);
                	}
                	50%{
                		transform: translateY(-8%);
                	}
                	0% {
                        opacity: 1;
                		transform: translateY(0%);
                	}
                }
            }
            .cigar-pack-front{
                width: 100%;
            }
        }

        img{
            max-width: 100%;
            max-height: 100%;
            position: absolute;
            left: 50%;
            @extend .transition-cubic ;
        }

        // ALL ANIMATIONS OF PREMED
        &.circumference{
            img{
                max-width: 90%;
                max-height: 90%;
            }

            .stretchPants{
                transform: translateY(-50%) translateX(-50%) scaleX(1.25);
            }
        }

        &.pregnancy{
            @media screen and (max-width: 880px){
                height: 250px;
                min-width: 200px;

                img{
                    left: 20%;
                }
            }

            @media screen and (max-width: 650px){
                img{
                    left: 10%;
                }
            }
        }

        &.horizontal-transition{
            .activity{
                margin: 0;
                opacity: 0;
                transform: translateY(0%);
                left: 0;
            }
            .appear{
                opacity: 1;
                left: 50%;
                transform: translateY(-50%) translateX(-50%);
            }
        }

        &.beverage{
            width: 100%;
            margin: 0 1.5%;

            @media screen and (max-width: 870px){
                margin-bottom: 20px;
            }
        }

        &.tired{
            width: 100%;
            margin: 0 1.5%;
            position: relative;

            @media screen and (max-width: 870px){
                margin-bottom: 20px;
            }

            img{
                width: 300px;
                position: absolute;

                @media screen and (max-width: 870px){
                    width: 220px;
                    height: 250px;
                }
            }
            img.tired{
                top: 40%;

                @media screen and (max-width: 870px){
                    height: 250px;
                    top: 50%;
                }
            }
            img.non-tired{
                @media screen and (max-width: 870px){
                    top: 65%;
                }
            }
        }

        &.feeding{
            width: 100%;
            min-height: 270px;
            margin: 0 0 0 2%;
            position: relative;

            @media screen and (max-width: 890px){
                width: 70%;
                margin-bottom: 20px;
                min-height: 250px;
                margin: 0 0 20px;
            }

            @media screen and (max-width: 650px){
                min-height: 125px;
            }

            .activity{
                margin: 0;
                opacity: 0;
                transform: translateY(0%);
                left: 100%;
            }
            .appear{
                opacity: 1;
                left: 50%;
                transform: translateX(-50%);
            }
            .appear.more{
                opacity: 1;
                left: 0%;
            }

            img.three{
                width: 45%;
                position: absolute;
                left: 15%;
                top: 0;
                transform: inherit;
                z-index: 10;
            }
            img.five{
                width: 60%;
                position: absolute;
                right: 0;
                top: 5%;
                transform: inherit;
                z-index: 20;

                @media screen and (max-width: 870px){
                    left: auto;
                }
            }
            img.more{
                width: 80%;
                position: absolute;
                left: -50%;
                top: 40%;
                transform: inherit;
                z-index: 30;

                @media screen and (max-width: 870px){
                    top: 50%;
                }
            }
        }

        &.problems {
            width: 100%;
            margin: 0 1.5%;
            @media screen and (max-width: 870px) {
                margin-bottom: 20px;
            }
        }
    }
    .contentButtons{
        width: 65%;
        min-width: 460px;
        box-sizing: border-box;
        position: relative;

        @media screen and (max-width: 870px){
            width: 100%;
            min-width: auto;
            padding: 0 1%;
            margin-bottom: 30px;
            justify-content: center;
            flex-wrap: wrap;
        }

        &.cigar{
            input[type="tel"]{
                border: 0;
                background: transparent;
                -webkit-appearance: none;
            }
        }

        &.cigar-perday:after, &.cigar-years:after{
            height: 2px;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 150px;
            background: #45C6D6;
            content: '';
        }
        &.cigar-perday:after{
            width: 250px;
        }

        button{
            width: 48%;
            min-width: 220px;
            height: 45px;
            border: 0;
            cursor: pointer;
            border-radius: 10px;
            margin: 1.5% 1%;
            @extend .transition-cubic ;
            @extend .font-medium-12px ;
            @extend .color-black ;
            @extend .background-white ;
            @extend .shadow-black ;

            @media screen and (max-width: 650px){
                width: 85%;
            }

            &.small{
                min-width: 135px;
                width: 35%;
            }
        }
        button:hover{
            @extend .background-black ;
            @extend .color-white ;
            @extend .shadow-black ;

            @media screen and (max-width: 870px){
                background-color: #45C6D6;
            }
        }
        button.active{
            @extend .background-lightBlue ;
            @extend .color-white ;
            @extend .shadow-lightBlue ;

            &:hover{
                @extend .background-lightBlue ;
                @extend .color-white ;
                @extend .shadow-lightBlue ;
            }
        }
    }
}
.quest.feeding{
    max-width: 1020px;
    width: 100%;
    box-sizing: border-box;

    @media screen and (max-width: 1024px){
        max-width: 85%;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    @media screen and (max-width: 890px){
        max-width: 100%;
    }

    @media screen and (max-width: 650px){
        max-width: 90%;
    }

    p{
        @media screen and (max-width: 1024px){
            text-align: center;
        }
    }

    .contentButtons{
        @media screen and (max-width: 1024px){
            flex-wrap: wrap;
            justify-content: center;
            margin-bottom: 30px;
        }
    }

    .md-select {
        width: 185px;

        @media screen and (max-width: 1024px){
            margin: 15px 2%;
        }

        @media screen and (max-width: 650px){
            width: 155px;
            margin: 10px 3px;
        }

        @media screen and (max-width: 321px){
            width: 140px;
            margin: 10px 2px;
        }

        .labelFigure{
            height: 60px;
            margin-left: 50%;
            margin-bottom: -10px;
            transform: translateX(-50%);
            z-index: 2;
            position: relative;
        }
        [type=button] {
            border-radius: 10px;
            cursor: pointer;
            height: 45px;
            line-height: 45px;
            padding: 0;
            position: relative;
            text-align: center;
            text-shadow: none;
            width: 100%;
            z-index: 1;
            outline: none;
            overflow: hidden;
            @extend .transition-cubic ;
            @extend .font-medium-12px ;
            @extend .color-black ;
            @extend .background-white ;
            @extend .shadow-black ;

            &:focus, &:hover {
                @extend .color-black ;
            }
            &.selected {
                @extend .color-lightBlue ;
            }
            &:before {
                content: '';
                border-top: 5px solid #575957;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-radius: 10%;
                position: absolute;
                right: 15px;
                top: 50%;
                transform: translateY(-50%);
                @extend .transition-cubic ;

                @media screen and (max-width: 650px){
                    right: 10px;
                }

                @media screen and (max-width: 321px){
                    border-top: 4px solid #575957;
                    border-left: 4px solid transparent;
                    border-right: 4px solid transparent;
                }
            }
            &.rotateArrow{
                transform: translateY(-50%) rotate(180deg);
            }

            @media screen and (max-width: 650px){
                font-size: 12px;
            }

            @media screen and (max-width: 321px){
                font-size: 11px;
            }
        }
        ul[role=listbox] {
            background-color: white;
            cursor: default;
            list-style: none;
            line-height: 26px;
            overflow: hidden;
            margin: 0;
            max-height: 0;
            position: absolute;
            padding: 0;
            border-radius: 10px;
            transform: translateY(-60%) translateX(0%);
            @extend .transition-cubic ;
            width: 170px;
            height: 110px;
            @extend .font-medium-12px ;
            @extend .color-black ;
            @extend .shadow-black ;

            &::-webkit-scrollbar-track{
                border-radius: 50px;
                background-color: transparent;
            }

            &::-webkit-scrollbar{
                width: 15px;
                border: 5px solid white;
                border-radius: 50px;
                background-color: #D8D8D8;
                transform: scale(0.8);
            }

            &::-webkit-scrollbar-thumb{
                border-radius: 50px;
                width: 5px;
                border-right: 5px solid white;
                border-left: 5px solid white;
                border-top: 5px solid rgba(255,255,255,0);
                border-bottom: 5px solid rgba(255,255,255,0);
                background-clip: content-box;
                @extend .background-black ;
            }

            li {
                height: 20px;
                line-height: 20px;
                margin: 0;
                padding: 10px 16px;
                outline: none;
                overflow: hidden;
                text-align: center;
                cursor: pointer;
                @extend .transition-cubic ;

                &:focus, &:hover, &.active {
                    @extend .color-lightBlue ;
                }
            }
        }

        &.active ul {
            max-height: 200px;
            overflow: auto;
            padding: 8px 0 16px 0px;
            z-index: 3;
            transition: all .2s ease
        }
    }
}
.optionForm.feeding{
    max-width: 1020px;

    @media screen and (max-width: 1024px){
        max-width: 85%;
    }

    @media screen and (max-width: 650px){
        max-width: 90%;
    }
}

/*
====================================================================================================================================================
====================================================================================================================================================

                                                    INTRO PREMED
                                                  (Used on PreMed)

====================================================================================================================================================
====================================================================================================================================================
*/

.intro.premed{
    width: 90%;
    max-width: 860px;

    h1{
        @media screen and (max-width: 921px){
            width: 100%;
            margin: 20px 0 40px;
            text-align: center;
        }

        @media screen and (max-width: 650px){
            font-size: 25px;
        }

        small{
            font-size: 18px;
            display: block;
            width: 100%;
        }
    }

    .description{
        width: 100%;
        box-sizing: border-box;

        @media screen and (max-width: 921px){
            flex-direction: column;
        }

        .bemtevi{
            width: 125px;

            @media screen and (max-width: 921px){
                width: 150px;
            }
        }
        p{
            line-height: 25px;

            @media screen and (max-width: 921px){
                width: 80%;
                margin: 15px 0 0;
                text-align: center;
            }
        }
    }

    .links{
        width: 70%;
        flex-wrap: wrap;

        @media screen and (max-width: 921px){
            width: 245px;
            margin: 40px 0;
        }

        @media screen and (max-width: 650px){
            justify-content: center;
        }

        a{
            width: 220px;
            height: 45px;
            line-height: 45px;
            text-align: center;
            border-radius: 50px;
            text-decoration: none;
            @extend .font-medium-12px ;
            @extend .border-lightBlue ;
            @extend .transition-cubic ;
        }
        .now{
            @extend .background-lightBlue ;
            @extend .color-white ;
            @extend .shadow-lightBlue ;
            margin-right: 20px;

            @media screen and (max-width: 921px){
                margin: 0 0 20px;
            }

            &:hover{
                @extend .background-lightGreen ;
                @extend .color-white ;
                @extend .shadow-lightGreen ;
                @extend .border-lightGreen ;
            }
        }
        .later{
            @extend .color-lightBlue ;

            &:hover{
                @extend .color-lightGreen ;
                @extend .border-lightGreen ;
            }
        }
    }
}